/* ProjectSend backend styles */

#wrapper {
}

a { color:#0099FF; text-decoration:none; }
a:hover { text-decoration:underline; }

.clear { clear:both; }

h1, h2, h3, h4 {
	font-weight:normal;
	font-family:'SansationRegular', sans-serif;
}

h1 {
	color:white;
	font-size:32px;
	margin:15px 0;
	text-shadow:1px 1px 1px #000;
}

h2 {
	font-size:21px;
	margin-bottom:40px;
}

h3 {
	font-size:19px;
	padding-bottom:6px;
	border-bottom:1px dotted #CCCCCC;
	margin-bottom:12px;
}

h4 {
	font-size:13px;
	margin-bottom:20px;
	line-height:18px;
}

#system_msg {
	padding:10px;
	background:#FFFBE4;
}

#system_msg p {
	margin:0;
}

#lonely_logo {
	margin-top:30px;
	text-align:center;
	font-family:'SansationRegular', sans-serif;
}

#login_logo {
	margin:15px auto;
	text-align:center;
}

#login_header_low {
	background:#222;
	color:#FFFFFF;
	clear:both;
	padding:4px 0;
	border-top:1px solid #555;
	border-bottom:7px solid #CCCCCC;
	-moz-box-shadow:0 5px 5px #E1E1E1;
	-webkit-box-shadow:0 5px 5px #E1E1E1;
	box-shadow:0 5px 5px #E1E1E1;
}

/* dropdown menu */

#top_menu {
	background:#222;
	color:#FFFFFF;
	clear:both;
	padding:4px 0;
	border-top:1px solid #555;
	border-bottom:7px solid #CCCCCC;
	-moz-box-shadow:0 5px 5px #E1E1E1;
	-webkit-box-shadow:0 5px 5px #E1E1E1;
	box-shadow:0 5px 5px #E1E1E1;
}

ul.menu {list-style:none; margin:0; padding:0}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#fff; text-decoration:none}
ul.menu li {position:relative; float:left;}
ul.menu ul {position:absolute; top:28px; left:0; display:none; opacity:0; list-style:none; border:1px solid #111; -moz-box-shadow:2px 2px 2px #ccc; -webkit-box-shadow:2px 2px 2px #ccc; box-shadow:2px 4px 2px #ccc;}
ul.menu ul li {position:relative; /*border:1px solid #aaa;*/ border-top:none; width:160px; margin:0}

ul.menu ul li a {display:block; padding:10px; background-color:#222; color:white; border-bottom:1px solid #444444; font-size:12px;}
ul.menu ul li a:hover {background-color:#333}
ul.menu ul ul {left:100px; top:-1px}

ul.menu .menulink {/*border:1px solid #aaa;*/ padding:5px 27px 7px; font-weight:bold; margin:0 0px; border-right:1px solid #333; border-left:1px solid #000;}
ul.menu .menulink:hover, ul.menu .menuhover {}
ul.menu .dropready {background:url(../img/arrow.gif) right 12px no-repeat; padding-right:37px; }

ul.menu .sub {background:url(../img/arrow.gif) right 12px no-repeat}
ul.menu .topline {border-top:1px solid #aaa}


#install_form {
	margin-top:30px;
}

#install_extra {
	margin-top:30px;
	font-weight:bold;
	font-size:11px;
	color:#0099CC;
}

#install_inside {
	width:400px;
	margin:20px auto 0;
}

.bold { font-weight:bold; }

#main { padding:30px; }

#txthome {
	margin:0 0 30px 0;
	font-size:12px;
	line-height:19px;
	width:60%;
	float:left;
	color:#333333;
}

#txthome p {
	margin-bottom:20px;
}

/** Home widgets */

.home_column_left {
	width:930px;
	margin:0 auto;
	/*float:left;*/
}

.home_column_right {
	padding-left:900px;
}

.home_spaces {
	width:100%;
	display:inline-block;
	clear:both;
}

.home_spaces li {
	width:210px;
	float:left;
	margin-right:20px;
}

.home_spaces li h4 {
	text-align:left;
	padding:10px;
	font-size:16px;
	background: #FAFBFC;
	background-image:-moz-linear-gradient(center top , #FAFBFC, #E2E5E9);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9));
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-o-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

.home_spaces li .message {
	margin:15px 0 0;
	padding:8px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-o-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	border-width:1px 0 0;
}

.home_logo_preview {
	min-height:64px;
	margin-bottom:20px;
}

.home_container {
	background-color:white;
	padding:0px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-border-radius:5px;
	-webkit-box-shadow:3px 3px 5px #dedede;
	border-radius:5px;
	box-shadow:3px 3px 5px #dedede;
	text-align:center;
	min-height:283px;
}

.home_container img {
	margin:5px auto 20px;
}

.home_container a.button_big {
	margin:0 auto 6px;
}

.home_container p {
	font-size:11px;
	margin:15px 20px;
	text-align:left;
}


/**/

#center { width:370px; margin:0 auto 0 auto; }

#main_login { margin:0 0 30px 0; }

#loginform { width:340px; margin-top:40px; padding-top:20px; }

#loginform .field {
	width:190px;
	font-size:11px;
	padding:4px;
	margin-bottom:7px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#loginform .boton {
	width:200px;
	font-size:12px;
	height:30px;
	margin-bottom:7px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.message {
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:20px;
}

.message p {
	margin:0;
}

.message ol {
	margin:20px 0 0 0;
	padding-left:2em;
/*	list-style-type:hiragana; NIHONGO GA SUKI DESU :D */
}

.message li {
}

#login_error {
	width:310px;
	margin:0 auto 20px auto;
}

.message_ok {
	color:#849F4F;
	background:#ECF5DA;
	border:1px solid #B1C786;
}

.message_error {
	color:#8B281E;
	background:#F6D5D2;
	border:1px solid #AC6760;
}

.message_info {
	color:#2E8EB4;
	background:#E5F1FC;
	border:1px solid #BCD8F3;
	margin-top:20px;
}

.whitebox {
	background-color:white;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-border-radius:5px;
	-webkit-box-shadow:3px 3px 5px #dedede;
	border-radius:5px;
	box-shadow:3px 3px 5px #dedede;
}

.whiteform {
	margin:0 auto 0 auto;
	width:525px;
	text-align:left;
	padding:10px;
}

.whiteform td { height:25px; }

.whitebox_text {
	padding-top:25px;
}

/* forms */

.form_fields li {
	margin-bottom:2px;
	padding-bottom:2px;
}

.form_fields li label {
	display:inline-block;
	width:40%;
	min-height:23px; /* for checkboxes li */
	font-weight:bold;
	cursor:pointer;
}

.form_fields .form_submit_li {
	text-align:right;
}

.required {
	background-image:url(../img/req-field-off.png);
	background-position:right -6px;
	background-repeat:no-repeat;
	width:274px;
	padding-right:30px;
}

.form_actions {
	padding:0;
	margin-bottom:30px;
	border-bottom:1px dotted #ccc;
	overflow:hidden;
}

.form_actions .form_actions_count {
	float:left;
	width:30%;
	padding-top:5px;
}

.form_actions .form_actions_submit select {
	width:100px;
}


.form_actions .form_actions_submit {
	float:right;
	width:60%;
	text-align:right;
}

.form_actions_submit label {
	display:inline-block;
	width:160px;
	text-align:left;
	cursor:pointer;
	background:url(../img/checkbox.png) no-repeat top left;
	padding:3px 0 3px 27px;
}

.form_actions_submit .boton {
	margin:0!important;
}

/* file managment */

.file_status_visible {
	color:#639822!important;
	font-weight:bold;
}

.file_status_hidden {
	color:#D24244!important;
	font-weight:bold;
}

/* validation */

.field_error {
	color:red!important;
	background-color:#FCEBEF!important;
	background-image:url(../img/req-field.png);
	background-position:right -6px;
	background-repeat:no-repeat;
}

.field_error_msg {
	color:red;
	margin:0 0 3px 41%;
	font-size:11px;
	background:url(../img/error-field.png) no-repeat left 4px;
	padding-left:12px;
}

.options_box .field_error_msg {
	margin-left:45%;
}

.error_no_margin .field_error_msg {
	margin-left:0;
}

.txtfield {
	width:300px;
	font-size:12px;
	padding:4px;
	margin-bottom:5px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.edit_files {
	margin:20px 0 40px;
}

.edit_files .txtfield {
	width:96%;
}

.edit_files textarea {
	width:96%!important;
	height:70px!important;
}

.td_checkbox {
	width:50px;
}

#uploaded_files_tbl {
	margin-bottom:70px;
}

#upload_continue {
	margin-top:-50px;
	margin-bottom:70px;
}

textarea {
	font-family:Arial, Helvetica, sans-serif;
	height:100px;
}

checkbox { border:1px solid #CCCCCC; }

#button_login {
	margin:0 auto!important;
}

.button_submit {
	width:130px!important;
	margin-top:25px!important;
	font-weight:normal!important;
	font-size:12px!important;
	padding:7px 0!important;
	text-shadow:0 -1px 0 #000000!important;
}

.btn_link {
	width:120px;
	display:block;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:2px 0;
	font-size:11px!important;
	text-align:center;
	text-decoration:none!important;
	margin:0 auto!important;

	background:#407FB6!important;
	background:-moz-linear-gradient(center top , #FAFBFC, #E2E5E9)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9))!important;
	border:1px solid #ccc!important;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-shadow:0 -1px 0 #f0f0f0!important;
	color:#111!important;
}


.button_form {
	width:80px;
	padding:4px 0;
	font-size:.9em!important;
	text-align:center;
	text-decoration:none!important;
	margin:0 auto!important;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	background:#407FB6!important;
	background:-moz-linear-gradient(center top , #FAFBFC, #E2E5E9)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9))!important;
	border:1px solid #ccc!important;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-shadow:0 -1px 0 #f0f0f0!important;
	color:#111!important;
}


/* logo config page */

#current_logo_h2 {
	margin:30px 0 10px;
}

#current_logo {
	margin:20px 0;
	padding:20px 0 0;
	border-top:1px dotted #CCCCCC;
	overflow:hidden;
}

#current_logo_left {
	width:35%;
	float:left;
	text-align:left;
}

#current_logo_left .logo_note {
	font-size:.85em;
	line-height:1.35em!important;
	color:#888;
}

#current_logo_right {
	float:right;
	border:2px dashed #CCCCCC;
	padding:15px;
	display:table;
	height:120px;
}

#current_logo_img {
	display:table-cell;
	vertical-align:middle;
}

#form_logo {
	padding:0;
	line-height:21px;
}

#form_upload_logo {
	padding:30px 0 10px;
	border-top:1px dotted #CCCCCC;
}

#form_upload_logo label {
	font-weight:bold;
	margin-right:20px;
}

#form_btns {
	text-align:right;
}

/* options page */

.field_note {
	margin-left:45%;
	font-size:.85em;
	color:#2E8EB4;
}

optgroup {
	padding:1em;
	border:1px dotted #999;
	border-width:1px 0 0 0;
}

.options_box {
	width:450px;
	padding:20px;
	margin:20px auto;
}

.options_box label {
	display:block;
	float:left;
	width:110px;
	font-weight:bold;
	margin-right:20px;
}

.options_box input, .options_box select {
	width:240px;
	font-size:12px;
	padding:4px;
	margin-bottom:7px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.options_divide {
	clear:both;
	margin:35px 0;
}

.options_column {
	overflow:hidden;
}

.options_column label { width:80px; margin-right:10px; }

.options_column input, .options_column select { width:100px; }

.options_col_left {
	width:47%;
	float:left;
}

.options_col_right {
	width:47%;
	float:right;
}

/* plupload */

.plupload_button {
	width:130px!important;
	margin-right: 4px;
	padding:5px 0!important;
	font-size:12px!important;
	text-decoration: none!important;
	text-align:center;
	color:white!important;
	background:#407FB6!important;

	background:-moz-linear-gradient(center top , #407FB6, #236299)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299))!important;
	border:1px solid #004380!important;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-shadow:0 -1px 0 #000000!important;
	-moz-border-radius:5px!important;
	-webkit-border-radius:5px!important;
	border-radius:5px!important;
}

#uploader {
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-box-shadow:3px 3px 5px #dedede;
	box-shadow:3px 3px 5px #dedede;
}

.plupload_container {
	padding:1px!important;
}

a.plupload_start {
	display:none!important;
}

/* 
	This stylesheet belongs to TextboxList - Copyright Guillermo Rauch <http://devthought.com> 2009 
	TextboxList is not priceless for commercial use. See <http://devthought.com/projects/mootools/textboxlist/> 
	Purchase to remove copyright
*/

.textboxlist { width: 410px;; cursor: text; }
.textboxlist-bits {
	zoom: 1;
	overflow: hidden;
	margin: 0;
	padding: 7px 7px 0;
	border: 1px solid #999;
	*padding-bottom: 3px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.textboxlist-bit { list-style-type: none; float: left; display: block; padding: 0; margin: 0 5px 3px 0; cursor: default; }
.textboxlist-bit-editable { border: 1px solid #fff; }
.textboxlist-bit-editable-input { border: 0!important; padding: 2px 0; *padding-bottom: 0; height: 14px; }
.textboxlist-bit-editable-input:focus { outline: 0; }
.textboxlist-bit-box { position: relative; line-height: 18px; padding: 0 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #BCD8F3; background: #E5F1FC; cursor: default; }
.textboxlist-bit-box-deletable { padding-right: 15px; }
.textboxlist-bit-box-deletebutton { position: absolute; right: 4px; top: 6px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('../img/close.gif'); }
.textboxlist-bit-box-deletebutton:hover { border: none; background-position: 7px; text-decoration: none; }
.textboxlist-bit-box-hover { background: #D7EAFB; cursor:pointer; }
.textboxlist-bit-box-focus { border-color: #366EA3; background: #3E7CB7; color: #fff; }
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { background-position: bottom; }

/*  TextboxList Style guidelines 
	This style doesn't necessarily have to be in a separate file. 
	It's advisable not to set widths and margins from here, but instead apply it to a particular object or class (#id .textboxlist { width: xxx } or .class .textboxlist { width: xxx })
	The padding-top + padding-left + height of ".textboxlist-bit-editable-input {}" has to match the line-height of ".textboxlist-bit-box {}" for UI consistency. 
	The font configuration has to be present in .textboxlist and .textboxlist-bit-editable-input (for IE reasons)
	The *padding-bottom (notice the *) property of .textboxlist-bits {} has to be equal to the margin-bottom of .textboxlist-bit {} for IE reasons.
	The padding-top of .textboxlist ul {} has to match the margin-bottom of .textboxlist-bit, and the padding-bottom has to be null.
	Make sure the border-width of the .textboxlist-bit-editable {} is equal to the border-width of the box (a border that matches the background is advisable for the input)
	Feel free to edit the borders, fonts, backgrounds and radius.		
*/