/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
table{border-collapse:collapse;border-spacing:0;}

strong {
	font-weight:bold;
}

em {
	font-style:italic;
}

:focus { outline:none; }
::-moz-focus-inner { border:0; }

p {
	margin-bottom:1.2em;
	line-height:1.5em;
}

a img {	border:none; }

.clear { clear:both; }

body {
	color:#666666;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	line-height:1.2em;
	background-color:#F4F4F4;
	height:100%;
}

#header {
	height:84px;
	background:#1E478D url(../img/header.jpg) no-repeat top center;
	padding:12px 0 0 0;
	color:#f0f0f0;
	line-height:16px;
	clear:both;
	border-bottom:1px solid #333;
}

#header_info {
	margin-left:27px;
}

#header h1 {
	color:white;
	font-size:32px;
	margin:15px 0;
	text-shadow:1px 1px 1px #000;
	font-family:'SansationRegular', sans-serif;
}

#logout {
	float:right;
	position:absolute;
	overflow:visible;
	margin:0 0 0 -120px;
	left:100%;
	top:20px;
	font-weight:normal;

	width:100px;
	border-radius:5px;
	padding:6px 0;
	font-size:12px!important;
	
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.5)!important;
	text-shadow:0 -1px 0 #000000!important;
}


#footer {
	background:#555;
	color:#FFFFFF;

	clear:both;
	-moz-box-shadow:2px 2px 3px #E1E1E1;
	-webkit-box-shadow:2px 2px 3px #E1E1E1;
	box-shadow:2px 2px 3px #E1E1E1;

	padding:5px 10px;
	text-align:right;
	font-size:11px;
	text-shadow:1px 1px 3px black;

	height:18px;
	display:block;
	float:left;
	margin:50px 0 10px 0;
}

#footer a {
	color:white;
	text-decoration:underline;
}

/* Buttons */

.button:hover {
	text-decoration:none;
	-moz-box-shadow:2px 2px 2px #ccc;
}

.button {
	width:100px;
	padding:4px 10px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	cursor:pointer;

	text-shadow:0 1px 1px #3E6A16!important;
	color:white!important;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;

	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5)!important;
}

.button:focus {
	box-shadow:3px 3px 3px rgba(0, 0, 0, 0.3) inset, -3px -3px 3px 1px rgba(0, 0, 0, 0.1) inset, 0 0 0 rgba(0, 0, 0, 0.5)!important;
	text-shadow:0 -1px 0 #3E6A16!important;
}

.button_small {
	width:35px!important;
}

.button_big {
	width:150px!important;
	padding:9px 10px;
	font-size:13px;
}

.button_gray {
	background:#CACACA;
	background:-moz-linear-gradient(center top , #D1D1D1, #CACACA)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#D1D1D1), to(#CACACA))!important;
	border:1px solid #C4C2C2!important;
	text-shadow:0 1px 1px #777!important;
}

.button_green {
	background:#639822;
	background:-moz-linear-gradient(center top , #82B741, #639822)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#82B741), to(#639822))!important;
	border:1px solid #468000!important;
}

.button_blue {
	background:#407FB6!important;
	background:-moz-linear-gradient(center top , #407FB6, #236299)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299))!important;
	border:1px solid #004380!important;
}

.button_red {
	background:#D24244;
	background:-moz-linear-gradient(center top , #D7575A, #D24244)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#D7575A), to(#D24244))!important;
	border:1px solid #BF3133!important;
}

.button_blue:hover {
	background:#004B92!important;
	background:-moz-linear-gradient(center top , #1C6EB5, #004B92)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#1C6EB5), to(#004B92))!important;
	border:1px solid #002170!important;
}



/* Table sorter for jquery */

/* tables */

.vertical_middle td, .vertical_middle th {
	vertical-align:middle!important
}

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px auto 15px;
	font-size: .9em;
	width: 100%;
	text-align: left;
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-box-shadow:3px 3px 5px #dedede;
	box-shadow:3px 3px 5px #dedede;
}

table.tablesorter thead {
	color:#333;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background: #FAFBFC;
	background-image:-moz-linear-gradient(center top , #FAFBFC, #E2E5E9);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9));
	border: 1px solid #FFF;
	font-size: 13px;
	padding: 7px 4px;
	text-shadow:1px 1px 1px white;
}
table.tablesorter thead tr .header {
	background-image: url(../img/tablesorter/bg.gif), -moz-linear-gradient(center top , #FAFBFC, #E2E5E9);
	background-image: url(../img/tablesorter/bg.gif), -webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9));
	background-repeat: no-repeat!important;
	background-position: center right!important;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align:top;
}

table.tablesorter tbody tr:hover td {
	background:#EEF0F2!important;
}

table.tablesorter tbody tr.odd td {
	background-color:#F6F6F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/tablesorter/asc.gif), -moz-linear-gradient(center top , #407FB6, #236299)!important;
	background-image: url(../img/tablesorter/asc.gif), -webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299));
	color:white;
	text-shadow:0 -1px 0 #000000!important;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/tablesorter/desc.gif), -moz-linear-gradient(center top , #407FB6, #236299)!important;
	background-image: url(../img/tablesorter/desc.gif), -webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299));
	color:white;
	text-shadow:0 -1px 0 #000000!important;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #96D1FF;
}

/* tablesorter pager plugin */

div.pager {
	padding: 10px;
	margin-top:20px;
	background-color: white;
	text-align: center;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

div.pager input.pag_btn {
	width:50px;
	cursor:pointer;
	background:#407FB6!important;
	background:-moz-linear-gradient(center top , #407FB6, #236299)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299))!important;
	border:1px solid #004380!important;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-shadow:0 -1px 0 #000000!important;
	color:white!important;
}

div.pager span {
	font-size:12px;
	padding: 0 5px 0 10px;
}

div.pager input.prev {
/*	margin-right: 10px;*/
}

div.pager input.next {
	margin-left: 10px;
}

div.pager input, div.pager select {
	width:100px;
	font-size:11px;
	padding:4px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

/* Header Menu */

#top_menu {
	background:#222;
	color:#FFFFFF;
	clear:both;
	padding:0;
	border-top:1px solid #555;
	border-bottom:7px solid #CCCCCC;
	-moz-box-shadow:0 5px 5px #E1E1E1;
	-webkit-box-shadow:0 5px 5px #E1E1E1;
	box-shadow:0 5px 5px #E1E1E1;
}

/* Superfish */

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			14em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			3em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			14em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			13em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
}
.sf-menu a {
	border-right:	1px solid #333;
	border-left:	1px solid #000;
	padding: 		1em 1.9em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fff;
	text-decoration:none;
}
.sf-menu li {
	background:		#222;
	font-weight:	bold;
}
.sf-menu li li {
	background:		#222;
	font-weight:	normal;
}
.sf-menu li li li {
	background:		#222;
	font-weight:	normal;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#444;
	outline:		0;
	text-decoration:none;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.35em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../img/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			1.1em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../img/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}