* { margin:0; padding:0; }

* :focus { outline: 0; }

p {
	margin-bottom:0.8em;
}

body, html {
	color:#666666;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:0.9em;
	line-height:1.2em;
	background-color:#F4F4F4;
	height:100%;
}

#wrapper {
}

a img {	border:none; }

a { color:#0099FF; text-decoration:none; }
a:hover { text-decoration:underline; }

.clear { clear:both; }

#logout {
	float:right;
	position:absolute;
	overflow:visible;
	margin:0 0 0 -120px;
	left:100%;
	top:20px;

	width:100px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:6px 0;
	font-size:12px!important;
	text-align:center;
	text-decoration:none;
	
	background:#407FB6!important;
	background:-moz-linear-gradient(center top , #407FB6, #236299)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299))!important;
	border:1px solid #004380!important;
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.5)!important;
	text-shadow:0 -1px 0 #000000!important;
	color:white!important;
}

#header {
	height:84px;
	background:#1E478D url(../img/header.jpg) no-repeat top center;
	padding:12px 0 0 10px;
	color:#f0f0f0;
	line-height:16px;
	clear:both;
	border-bottom:1px solid #333;
}

#system_msg {
	padding:10px;
	background:#FFFBE4;
}

#system_msg p {
	margin:0;
}

#header h1 {
	color:white;
	font-size:27px;
	margin-bottom:16px;
	margin-top:10px;
	font-weight:normal;
	font-family:'Cabin Condensed', sans-serif;
	text-shadow:1px 1px 1px #000;
}

#lonely_logo {
	color:#407FB6;
	font-size:27px;
	margin-top:50px;
	font-family:'Cabin Condensed', sans-serif;
	text-align:center;
}


/* dropdown menu */

#top_menu {
	background:#222;
	color:#FFFFFF;
	clear:both;
	padding:4px 0;
	border-top:1px solid #555;
	border-bottom:7px solid #CCCCCC;
	-moz-box-shadow:0 5px 5px #E1E1E1;
	-webkit-box-shadow:0 5px 5px #E1E1E1;
	box-shadow:0 5px 5px #E1E1E1;
}

ul.menu {list-style:none; margin:0; padding:0}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#fff; text-decoration:none}
ul.menu li {position:relative; float:left;}
ul.menu ul {position:absolute; top:28px; left:0; display:none; opacity:0; list-style:none; border:1px solid #111; -moz-box-shadow:2px 2px 2px #ccc; -webkit-box-shadow:2px 2px 2px #ccc; box-shadow:2px 4px 2px #ccc;}
ul.menu ul li {position:relative; /*border:1px solid #aaa;*/ border-top:none; width:160px; margin:0}

ul.menu ul li a {display:block; padding:10px; background-color:#222; color:white; border-bottom:1px solid #444444; font-size:12px;}
ul.menu ul li a:hover {background-color:#333}
ul.menu ul ul {left:100px; top:-1px}

ul.menu .menulink {/*border:1px solid #aaa;*/ padding:5px 27px 7px; font-weight:bold; margin:0 0px; border-right:1px solid #333; border-left:1px solid #000;}
ul.menu .menulink:hover, ul.menu .menuhover {}
ul.menu .dropready {background:url(../img/arrow.gif) right 12px no-repeat; padding-right:37px; }

ul.menu .sub {background:url(../img/arrow.gif) right 12px no-repeat}
ul.menu .topline {border-top:1px solid #aaa}


#install_form {
	margin-top:30px;
}

#install_extra {
	margin-top:30px;
	font-weight:bold;
	font-size:11px;
	color:#0099CC;
}

#install_inside {
	width:400px;
	margin:20px auto 0;
}

.bold { font-weight:bold; }

#main { padding:30px; }

h2 {
	font-size:23px;
	font-family:'Cabin Condensed', sans-serif;
	margin-bottom:40px;
	font-weight:normal;
}

#footer {
	background:#555;
	color:#FFFFFF;
	clear:both;
	border:solid #fff;

	-moz-box-shadow:0px 0px 3px #555;
	-webkit-box-shadow:0px 0px 3px #555;
	box-shadow:0px 0px 3px #555;

	border-width:1px 1px 1px 0;
	padding:5px 10px;
	text-align:right;
	font-size:11px;
	text-shadow:1px 1px 3px black;

	height:18px;
	display:block;
	float:left;
	margin:50px 0 10px 0;
}

#footer a {
	color:white;
	text-decoration:underline;
}

#txthome {
	margin:0 0 30px 0;
	font-size:12px;
	line-height:19px;
	width:60%;
	float:left;
	color:#333333;
}

#txthome p {
	margin-bottom:20px;
}

.statbarlogo {
	margin:0px;
	padding-left:28px;
	margin-bottom:20px;
}

#stat_clients { background:url(../img/stats-clients.gif) no-repeat; }
#stat_users { background:url(../img/stats-users.gif) no-repeat; }
#stat_logo { background:url(../img/stats-logo.jpg) no-repeat; margin-bottom:0; }

#intstatbar {
	display:block;
	padding:15px;
	color:#666;
	width:200px;
	float:left;
	font-size:13px;
	margin-right:50px;
}

#intstatbar span { font-weight:bold; }

#intstatbar a { color:#333333; font-size:11px; text-decoration:underline; }

#intstatbar img { padding-left:25px; padding-right:10px; }

#center { width:370px; margin:0 auto 0 auto; }

#topbar{
	border:solid #999999;
	border-width:0 0 1px 0;
	background:#333333 url(../topbar.jpg) repeat-x fixed;
}

.ncliente {
	float:left;
	clear:none;
	display:block;
	width:250px;
}

#loginform { width:340px; margin-top:40px; padding-top:20px; }

#loginform .field {
	width:190px;
	font-size:11px;
	padding:4px;
	margin-bottom:7px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#loginform .boton {
	width:200px;
	font-size:12px;
	height:30px;
	margin-bottom:7px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.login_divide {
	clear:both;
	border-bottom:1px dotted #CCCCCC;
	margin:-5px 0 15px 0;
}

.message {
	padding:15px;
	-moz-border-radius:5px;
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-border-radius:5px;
	-webkit-box-shadow:3px 3px 5px #dedede;
	border-radius:5px;
	box-shadow:3px 3px 5px #dedede;
	margin-bottom:20px;
}

.message p {
	margin:0;
}

.message ol {
	margin:20px 0 0 0;
	padding-left:2em;
/*	list-style-type:hiragana; NIHONGO GA SUKI DESU :D */
}

.message li {
}

#login_error {
	width:310px;
	margin:0 auto 20px auto;
}

.message_ok {
	color:#849F4F;
	background:#ECF5DA;
	border:1px solid #B1C786;
}

.message_error {
	color:#8B281E;
	background:#F6D5D2;
	border:1px solid #AC6760;
}

.message_info {
	color:#2E8EB4;
	background:#E1F3FA;
	border:1px solid #2E8EB4;
	margin-top:20px;
}

.whitebox {
	background-color:white;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-border-radius:5px;
	-webkit-box-shadow:3px 3px 5px #dedede;
	border-radius:5px;
	box-shadow:3px 3px 5px #dedede;
}

.whiteform {
	margin:0 auto 0 auto;
	width:525px;
	text-align:left;
	padding:10px;
}

.whiteform td { height:25px; }

.txtfield {
	width:300px;
	font-size:11px;
	padding:4px;
	margin-bottom:5px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

textarea {
	font-family:Arial, Helvetica, sans-serif;
	height:100px;
}

checkbox { border:1px solid #CCCCCC; }

.boton {
	width:130px!important;
	margin-top:25px!important;
	-moz-border-radius:5px!important;
	-webkit-border-radius:5px!important;
	border-radius:5px!important;
	padding:4px 0!important;
	font-size:12px!important;
	
	background:#407FB6!important;
	background:-moz-linear-gradient(center top , #407FB6, #236299)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299))!important;
	border:1px solid #004380!important;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-shadow:0 -1px 0 #000000!important;
	color:white!important;
}

/* Base formats ------------------------------------------------------------------------------------------------------- */

.centh { text-align:center; }
.centv { vertical-align:middle; }

#coliz { width:30%; float:left; padding:30px 20px 20px 20px; border:0 dashed #00AEEF; border-right-width:1px; }

#coliz span { width:98%; display:block; border:dotted #999999; border-width:0 0 1px 0; }

#colder { width:60%; float:left; padding-left:15px; }


/* View files ------------------------------------------------------------------------------------------------------- */

.tabarchivo {
	width:90%;
	background-color:black;
	border:1px solid #CCCCCC;
	margin-top:20px;
	margin-bottom:10px;
}

.nomarchivo a {
	font-size:1.2em;
	color:#92E4FF;
	font-weight:bold;
	padding:5px 0 5px 0;
	display:block
}

.fecha {
	display:block;
	width:100%;
	float:left;
	margin-top:10px;
	margin-bottom:5px;
	border:solid #CACACA;
	border-width:1px 0 0 0;
	padding-top:5px;
	text-align:right;
}

#linkcliente a {
	font-size:15px;
	color:#0099FF;
	margin-top:20px;
}

/* logo config page */

#current_logo {
	margin:0 30px 0 0;
	padding:15px;
	width:300px;
	float:left;
}

#form_logo {
	padding:0;
	width:550px;
	float:left;
	line-height:21px;
}

#form_upload_logo {
	margin:25px auto 25px 0;
	padding:20px;
	border:1px solid #CCCCCC;
	width:420px;
}

#form_upload_logo label {
	font-weight:bold;
	margin-right:20px;
}

#form_btns {
	text-align:right;
}

/* options page */

optgroup {
	padding:1em;
	border:1px dotted #999;
	border-width:1px 0 0 0;
}

.options_box {
	width:450px;
	padding:20px;
	margin:20px auto;
}

.options_box label {
	display:block;
	float:left;
	width:110px;
	font-weight:bold;
	margin-right:20px;
}

.options_box input, .options_box select {
	width:270px;
	font-size:11px;
	padding:4px;
	margin-bottom:7px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.options_divide {
	clear:both;
	margin:35px 0;
}

.options_column label { width:80px; margin-right:10px; }

.options_column input, .options_column select { width:100px; }

.options_col_left {
	width:47%;
	float:left;
}

.options_col_right {
	width:47%;
	float:right;
}

h3 {
	font-family:'Cabin Condensed', sans-serif;
	font-size:19px;
	font-weight:normal;
	padding-bottom:6px;
	border-bottom:1px dotted #CCCCCC;
	margin-bottom:12px;
}

h4 {
	font-weight:normal;
	font-size:13px;
	margin-bottom:20px;
	line-height:18px;
}

/* Table sorter for jquery */

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px auto 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-box-shadow:3px 3px 5px #dedede;
	box-shadow:3px 3px 5px #dedede;
}

table.tablesorter thead {
	color:#333;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background: #FAFBFC;
	background-image:-moz-linear-gradient(center top , #FAFBFC, #E2E5E9);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9));
	border: 1px solid #FFF;
	font-size: 13px;
	padding: 7px 4px;
	text-shadow:1px 1px 1px white;
}
table.tablesorter thead tr .header {
	background-image: url(../img/tablesorter/bg.gif), -moz-linear-gradient(center top , #FAFBFC, #E2E5E9);
	background-image: url(../img/tablesorter/bg.gif), -webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9));
	background-repeat: no-repeat!important;
	background-position: center right!important;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F6F6F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/tablesorter/asc.gif), -moz-linear-gradient(center top , #407FB6, #236299)!important;
	background-image: url(../img/tablesorter/asc.gif), -webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299));
	color:white;
	text-shadow:0 -1px 0 #000000!important;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/tablesorter/desc.gif), -moz-linear-gradient(center top , #407FB6, #236299)!important;
	background-image: url(../img/tablesorter/desc.gif), -webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299));
	color:white;
	text-shadow:0 -1px 0 #000000!important;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #96D1FF;
}

/* tablesorter pager plugin */

div.pager {
	padding: 10px;
	margin-top:20px;
	background-color: white;
	text-align: center;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

div.pager input.pag_btn {
	width:50px;
	cursor:pointer;
}

div.pager span {
	font-size:12px;
	padding: 0 5px 0 10px;
}

div.pager input.prev {
/*	margin-right: 10px;*/
}

div.pager input.next {
	margin-left: 10px;
}

div.pager input, div.pager select {
	width:100px;
	font-size:11px;
	padding:4px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

/* tabs */

#tab_users { background-image:url(../img/stats-users-inactive.gif); background-repeat:no-repeat; }
#tab_clients { background-image:url(../img/stats-clients-inactive.gif); background-repeat:no-repeat; margin:0!important; }
#tab_users.active { background-image:url(../img/stats-users.gif); }
#tab_clients.active { background-image:url(../img/stats-clients.gif); }

div.tabs_layout {
	width: 100%;
	margin: 0;
}

#login-tabs-nav {
}

ul.tabs_layout {
	list-style-type: none;
	width: 100%;
	background: url(pixel.gif) bottom left repeat-x;
}

ul.tabs_layout img {
	margin-right:7px;
}

ul.tabs_layout li {
	margin: 0;
	display:inline;
}

ul.tabs_layout a {
	display: block;
	width:110px;
	float:left;
	margin:0 4px 0 0;
	padding: 9px 15px 10px 40px;
	border: 1px solid #ccc;
	color: #999;
	background: #eee;
	background-position:10px 7px;
	text-decoration: none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

ul.tabs_layout a:hover {
	background: #fff;
	background-position:10px 7px;
}

ul.tabs_layout a.active {
	background: #DFF0FF;
	padding-bottom: 10px;
	cursor: default;
	color:#555;
	background-position:10px 7px;
}

.tabs-container {
	clear: left;
	padding: 20px 8px 0 8px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}

/* 
		This stylesheet belongs to TextboxList - Copyright Guillermo Rauch <http://devthought.com> 2009 
		TextboxList is not priceless for commercial use. See <http://devthought.com/projects/mootools/textboxlist/> 
		Purchase to remove copyright
*/

.textboxlist { width: 410px;; cursor: text; }
.textboxlist-bits {
	zoom: 1;
	overflow: hidden;
	margin: 0;
	padding: 7px 7px 0;
	border: 1px solid #999;
	*padding-bottom: 3px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.textboxlist-bit { list-style-type: none; float: left; display: block; padding: 0; margin: 0 5px 3px 0; cursor: default; }
.textboxlist-bit-editable { border: 1px solid #fff; }
.textboxlist-bit-editable-input { border: 0!important; padding: 2px 0; *padding-bottom: 0; height: 14px; font: 11px "Lucida Grande", Verdana; }
.textboxlist-bit-editable-input:focus { outline: 0; }
.textboxlist-bit-box { position: relative; line-height: 18px; padding: 0 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #D7DF96; background: #F2F6D1; cursor: default; }
.textboxlist-bit-box-deletable { padding-right: 15px; }
.textboxlist-bit-box-deletebutton { position: absolute; right: 4px; top: 6px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('../img/close.gif'); }
.textboxlist-bit-box-deletebutton:hover { border: none; background-position: 7px; text-decoration: none; }
.textboxlist-bit-box-hover { background: #E0E6AA; }
.textboxlist-bit-box-focus { border-color: #687024; background: #8B9255; color: #fff; }
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { background-position: bottom; }

/*  TextboxList Style guidelines 
			This style doesn't necessarily have to be in a separate file. 
			It's advisable not to set widths and margins from here, but instead apply it to a particular object or class (#id .textboxlist { width: xxx } or .class .textboxlist { width: xxx })
			The padding-top + padding-left + height of ".textboxlist-bit-editable-input {}" has to match the line-height of ".textboxlist-bit-box {}" for UI consistency. 
			The font configuration has to be present in .textboxlist and .textboxlist-bit-editable-input (for IE reasons)
			The *padding-bottom (notice the *) property of .textboxlist-bits {} has to be equal to the margin-bottom of .textboxlist-bit {} for IE reasons.
			The padding-top of .textboxlist ul {} has to match the margin-bottom of .textboxlist-bit, and the padding-bottom has to be null.
			Make sure the border-width of the .textboxlist-bit-editable {} is equal to the border-width of the box (a border that matches the background is advisable for the input)
			Feel free to edit the borders, fonts, backgrounds and radius.		
*/